@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: 100%;
}

.detail {
  word-break: break-all;
}
.detail img {
  object-fit: cover;
}

.menu-list li:last-child {
  margin-bottom: 0;
}

/* coupang */
.coupang-search-container {
  margin-bottom: 5px;
}

.coupang-container {
  display: flex;
  position: relative;
}

.coupang-container iframe {
  margin: 0 auto;
  width: 50%;
  height: 240px;
}

.coupang-container::after {
  content: "이 포스팅은 쿠팡 파트너스 활동의 일한으로, 이에 따른 일정액의 수수료를 제공받습니다.";
  font-size: 8px;
  word-break: keep-all;
  color: #888;
  position: absolute;
  line-height: 1.2;
  text-align: center;
  top: calc(100% + 5px);
}
